<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="http://demon7452.github.io/stylesheets/homepage.css">
<title>HomePage</title>
</head>

<body>
<div id="container">
<!-- 头部部分 -->
<div id="header">
	<div class="audio">
		<!-- IE6,IE7不支持，其余浏览器均支持，Opera不能自动播放 -->
		<audio controls="controls" autoplay="autoplay" loop=infinite> 
			<source src="http://demon7452.github.io/audio/LetterSong.mp3" type="audio/mp3"/> 
		</audio> 
		
	</div>
	<h1> hello world </h1>
</div>
<!-- 主体部分 -->
<div id="main">
	<!--音频部分 -->
	<div id="audio">

	</div>

	<!-- 内容部分 -->
	<div id="content">
		{{ content }}
	</div>
</div>

<!-- 页脚 -->
<div id="footer">
    <footer>
         <p align="center">
            @copy; demon7452 2014,Contact: <a href="mailto:demonli7452@gmail.com">demonli7452@gmail.com</a>| All Rights Reserved.
         </p>
    </footer>
</div>
</div><!-- end container -->
</body>
</html>
