<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
<style type="text/css">
body {
	
	background: -webkit-linear-gradient(left,#9CF,#9CC,#9C9,#9C6,#9C3,#990);
}
</style>
</head>
<body>
<!--<img dynsrc="http://demon7452.github.io/audio/外婆桥.mp3" src="http://demon7452.github.io/images/url.jpg"/>-->
<!-- 仅支持IE浏览器-->
<bgsound src="http://demon7452.github.io/audio/外婆桥.mp3" loop=infinite/>

<!-- IE6,IE7不支持，其余浏览器均支持，Opera不能自动播放 -->
<audio controls="controls" autoplay="autoplay" loop=infinite> 
<source src="http://demon7452.github.io/audio/外婆桥.mp3" type="audio/mp3" /> 
</audio> 
<div style="position:absolute; left:0; top:0; width:100%; height:100%">
	<img src="http://demon7452.github.io/images/background.png" width=100% height=100%/>
</div>
<div style="position:absolute;">
	<!--<img src="http://demon7452.github.io/images/url.jpg"/>-->
	{{ content }}
</div>
</body>
</html>