<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>Home page</h1>	
        <div id='menu'>
          <ul>
            <li><a href='/' id='home-link' title='Home'>首页</a></li>

        
            <li><a href='http://github.com/demon7452' target='_blank' title='GitHub' rel='me' id='github-link'>GitHub</a></li>
            
          </ul>
        </div>
      
     
	  </div>
	</div>
	<div>
	{{ content }}
	</div>
  </body>
</html>
